@import '../variables/color-dark.less';
@import '../variables/color-light.less';

.bg-primary[color=light] {
	&[color=light]{
		color: @light-sceneText;
		background-color: @light-primary;
	}
	&[color=dark] {
		color: @dark-sceneText;
		background-color: @dark-primary;
	}
}
.bg-success {
	&[color=light] {
		color: @light-sceneText;
		background-color: @light-success;
	}
	&[color=dark] {
		color: @dark-sceneText;
		background-color: @dark-success;
	}
}
.bg-info {
	&[color=light] {
		color: @light-sceneText;
		background-color: @light-info;
	}
	&[color=dark] {
		color: @dark-sceneText;
		background-color: @dark-info;
	}
}
.bg-warning {
	&[color=light] {
		color: @light-sceneText;
		background-color: @light-warning;
	}
	&[color=dark] {
		color: @dark-sceneText;
		background-color: @dark-warning;
	}
}
.bg-danger {
	&[color=light] {
		color: @light-sceneText;
		background-color: @light-danger;
	}
	&[color=dark] {
		color: @dark-sceneText;
		background-color: @dark-danger;
	}
}

.text-primary {
	&[color=light] {
		color: @dark-primary;
	}
	&[color=dark] {
		color: @dark-primary;
	}
}
.text-success {
	&[color=light] {
		color: @dark-success;
	}
	&[color=dark] {
		color: @dark-success;
	}
}
.text-info {
	&[color=light] {
		color: @dark-info;
	}
	&[color=dark] {
		color: @dark-info;
	}
}
.text-warning {
	&[color=light] {
		color: @dark-warning;
	}
	&[color=dark] {
		color: @dark-warning;
	}
}
.text-danger {
	&[color=light] {
		color: @dark-warning;
	}
	&[color=dark] {
		color: @dark-warning;
	}
}