:root {
	/* == 颜色 亮色模式 */
	/* 命名规则: 主题-用途-作用范围 */

	/* 情景颜色 */
	--primary:			#5c87a1;								/* 主要 #4c6575 */
	--success:			#67C23A;								/* 成功 */
	--info:				#65ceee;								/* 信息 */
	--warning:			#f0ad4e;								/* 警告 */
	--danger:			#F56C6C;								/* 错误 */
	--sceneText:		#FFFFFF;

	/* 背景 */
	--background: #fff;											/* 背景色 */
	--background-variant: #f7f7f7;								/* 背景主题色 */

	/* 文本 */
	--text-primary: #6e6e6e;									/* 主体文本色 */
	--text-accent: #3b3b3b;										/* 着重,强调性文本 */
	--text-hint: #1a1a1a;										/* 暗示文本 */

	/* 禁用元素 */
	--disabled: rgba(0.0,0.0,0.0, 0.26);						/* 被禁用的元素 */
	--disabled-background: rgba(0.0,0.0,0.0, 0.12);				/* 被禁用的元素 背景 */

	/* 杂项 */
	--highlight: rgba(0.0,0.0,0.0, 0.12);						/* 突出 */
	--icon: rgba(0.0,0.0,0.0, 0.54);							/* 图标颜色 */
	--divider: rgba(0.0,0.0,0.0, 0.12);							/* 分隔线 */

	/* 手柄 */
	--handle: #757575;											/* 手柄 */
	--handle-background: darken(#eee, 5%);						/* 手柄 背景 */

	--modal-background: rgba(0,0,0,.32);						/* 模态框背景层 */

	/* 提示 */
	--tooltip: #616161;											/* 工具提示 */
}


/* 点击动画 */
.active {
	width:10px;
	height:10px;
	z-index: 10;
	border-radius: 50%;
	position: absolute;
	margin: 0px;
	opacity: 0;
	animation: active;
	animation-duration: .6s;
	pointer-events: none;
}
@keyframes active {
	from {
		opacity: 0.5;
	}
	to {
		transform: scale(40,40);
		opacity: 0;
	}
}